.container {
  @apply bg-gray-100 p-4;
}
.appBar {
  @apply bg-teal-600;
}
.navLink1:after {
  @apply content-[''] absolute bottom-0 left-0 w-full h-1 bg-white opacity-0;
  transition: opacity 0.2s ease-in-out;
}
.navLink2:after {
  @apply content-[''] absolute bottom-0 left-0 w-full h-1 bg-white opacity-0;
  transition: opacity 0.2s ease-in-out;
}
.navLink3:after {
  @apply content-[''] absolute bottom-0 left-0 w-full h-1 bg-white opacity-0;
  transition: opacity 0.2s ease-in-out;
}

.navLink1:hover::after,
.navLink1.active::after,
.navLink1:focus::after {
  @apply content-[''] absolute bottom-0 left-0 w-full h-1 bg-white opacity-50;
}
.navLink2:hover::after,
.navLink2.active::after,
.navLink2:focus::after {
  @apply content-[''] absolute bottom-0 left-0 w-full h-1 bg-white opacity-50;
}
.navLink3:hover::after,
.navLink3.active::after,
.navLink3:focus::after {
  @apply content-[''] absolute bottom-0 left-0 w-full h-1 bg-white opacity-50;
}
